[submodule ".local/share/zsh/plugins/zsh-syntax-highlighting"]
	path = .local/share/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".local/share/zsh/plugins/zsh-autosuggestions"]
	path = .local/share/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule ".local/share/zsh/plugins/zsh-fzf-history-search"]
	path = .local/share/zsh/plugins/zsh-fzf-history-search
	url = https://github.com/joshskidmore/zsh-fzf-history-search.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@codeberg.org:frosty/init.lua.git
[submodule ".config/emacs"]
	path = .config/emacs
	url = git@codeberg.org:frosty/init.el.git
