!! st
st.font: DejaVu Sans Mono:size=9
! st.background: #282828
! st.foreground: #ebdbb2
! st.cursorColor: #ebdbb2
! st.color0: #282828
! st.color1: #cc241d
! st.color2: #98971a
! st.color3: #d79921
! st.color4: #458588
! st.color5: #b16286
! st.color6: #689d6a
! st.color7: #a89984
! st.color8: #928374
! st.color9: #fb4934
! st.color10: #b8bb26
! st.color11: #fabd2f
! st.color12: #83a598
! st.color13: #d3869b
! st.color14: #8ec07c
! st.color15: #ebdbb2
st.alpha: 0.95

!! dmenu
dmenu.font: Terminus:size=12
! dmenu.normbgcolor: #282828
! dmenu.normfgcolor: #ebdbb2
! dmenu.selbgcolor: #83a598
! dmenu.selfgcolor: #282828
! dmenu.normhifgcolor: #fb4934
! dmenu.normhibgcolor: #282828
! dmenu.selhifgcolor: #282828
! dmenu.selhibgcolor: #fb4934

!! nsxiv
Nsxiv.bar.font: Terminus:size=8
Nsxiv.window.background: #121212
Nsxiv.window.foreground: #bbbbbb
Nsxiv.mark.foreground: #aaaaaa
Nsxiv.bar.background: #999999
Nsxiv.bar.foreground: #000000
