[Desktop Entry]
Type=Application
Name=NXM Scheme Handler
Exec=newvegas wine /mnt/storage/Software/ModOrganizer2/nxmhandler.exe %u
StartupNotify=false
MimeType=x-scheme-handler/nxm
