[Desktop Entry]
Type=Application
Name=qutebrowser
StartupWMClass=qutebrowser
GenericName=Web Browser
Exec=qutebrowser --untrusted-args %u
Icon=qutebrowser
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/qute;
